<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <clear/>
    <add name="Connstring"
         providerName="System.Data.SqlClient"
         connectionString="Data Source='113.108.95.73';Initial Catalog='AutoPaint_Integrated20230512';Persist Security Info=True;User ID='Yatu'; Password='Yatu8773866@';Pooling=true;Max Pool Size=40000;Min Pool Size=0" />
  </connectionStrings>  
</configuration>
